* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 70px;
  background-color: #ec715f;
  padding-left: 10%;
}

.header-group {
  text-align: center;
  height: 70px;
}

.mysite {
  height: 70px;
  float: left;
}

nav {
  display: inline-block;
  vertical-align: baseline;
}

.nav-list {
  display: flex;
  list-style: none;
  float: right;
}

.nav-list-item {
  padding: 20px 30px;
  height: 70px;
}

.nav-title {
  text-decoration: none;
  color: #fafafa;
  font-size: 16px;
}

.main-visual {
  width: 100%;
  height: 650px;
  background-image: url(img/mv.png);
  background-size: cover;
  text-align: center;
  padding-top: 200px;
}

.main-visual-title {
  font-size: 64px;
  color: #fafafa;
  margin-bottom: 10px;
}

.main-visual-text {
  font-size: 20px;
  color: #fafafa;
}

.portfolio,
.profile {
  width: 100%;
  background-color: #eceff1;
}

.text {
  width: 920px;
  margin: 0 auto;
}

.text > p {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 16px;
  color: #000000;
  text-align: center;
}

.portfolio-image-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-image {
  width: 300px;
  height: 250px;
  margin-right: 10px;
  margin-top: 10px;
}

.portfolio-image:nth-child(3n) {
  margin-right: 0;
}

.portfolio-image:nth-child(n + 4):nth-child(-n + 6) {
  margin-bottom: 90px;
}

.heading {
  padding-top: 90px;
  text-align: center;
  font-size: 32px;
}

.heading::after {
  display: block;
  content: "";
  width: 70px;
  height: 3px;
  margin: 8px auto 30px auto;
  background-color: #ec715f;
}

.strength {
  display: flex;
  text-align: center;
}

.fa-code,
.fa-desktop,
.fa-cogs {
  font-size: 60px;
}

h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

span {
  width: 320px;
  height: auto;
  margin-bottom: 90px;
}

span:nth-child(2) {
  margin-left: 10px;
  margin-right: 10px;
}

.strength-text {
  text-align: left;
}

.left-content {
  width: 50%;
  margin-bottom: 90px;
  text-align: center;
}

.myicon {
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

.content {
  display: flex;
}

.right-content {
  width: 50%;
  display: inline-block;
  margin-bottom: 90px;
}

.profile-title {
  font-size: 20px;
  margin-bottom: 5px;
}

.profile-title:nth-child(2) {
  margin-top: 20px;
}

.profile-text {
  font-size: 16px;
  color: #000000;
}

.contact {
  margin-bottom: 90px;
}

.left-field {
  width: 50%;
}

.left {
  width: 130px;
  margin: 0 auto;
}

.right-field {
  text-align: center;
  width: 50%;
}

.fa-facebook,
.fa-instagram {
  margin-top: 5px;
  font-size: 50px;
}

.fa-twitter {
  font-size: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

.mail {
  margin-top: 5px;
  color: #000000;
}

.tel {
  margin-top: 5px;
  color: #000000;
}

h2 {
  font-size: 20px;
}

.tel-title {
  margin-top: 20px;
}

footer {
  text-align: center;
  height: 60px;
  font-size: 16px;
  color: #fafafa;
  background-color: #ec715f;
  line-height: 60px;
}
